* {
  box-sizing: border-box;
  font-family: Karla, sans-serif;
  margin: 0;
  padding: 0;
}

main{
  /* height: 100vh; */
  /* padding: 100p */
  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25em;
  background-color: #F5F7FB; */
}


h1{
  margin: 0 0 0.15em 0;
  padding: 0;
}

h4{
  font-family: Inter,sans-serif;
  font-weight: 300;
}

.intro--text-group{
  text-align: center;
}

.intro--start-button{
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  color: white;
}

.introo--left-blob{
  position: absolute;
  bottom: 0;
  left: 0;
}

.introo--right-blob{
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
}


.question--container{
  
}

.question--question{
  color: #293264;
  font-weight: bold;
  font-size: 1.25rem;
}

.question--answer-container{
  display: flex;
  gap: 1em;
}
.question--answer{
  border: none;
  background-color: transparent;
  border: 1px solid #4D5B9E;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Inter,sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.question--answer:hover{
  background-color: #D6DBF5;
  cursor: pointer;
}

.clicked{
  color: white;
  background-color: blue;
}